body {
  font-family: 'Times New Roman', Times, serif;
 
}

h1,h2,h3,h4,h5,h6 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.articleImage {
  float:left;
  margin-right: 10px;
}

.container .jumbotron, .panel-default .panel-heading {
  background: #303740;
  color: #fff;
  border-radius: 0;
}

.panel {
  background: rgba(255,255,255,0.7);
  border-radius: 0;
}

.panel-default {
  border: 3px solid #303740;
}

.well {
  border-bottom: 3px solid #303740;
}

.well h2 {
  margin-top: 0;
}
